SOA.WLIMS/SOA.WLIMS.Web/Service References/WCFService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOA.WLIMS.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOA.WLIMS.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterModel" nillable="true" type="tns:RegisterModel" />
</xs:schema>