SOA.WLIMS/SOA.WLIMS.Web/Service References/WCFService.User/UserService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOA.WLIMS.Models" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SOA.WLIMS.Service.DAL" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SOA.WLIMS.Service" />
      <xsd:import schemaLocation="http://localhost:1735/UserService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_MinPasswordLength_InputMessage">
    <wsdl:part name="parameters" element="tns:MinPasswordLength" />
  </wsdl:message>
  <wsdl:message name="IUserService_MinPasswordLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:MinPasswordLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IUserService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IUserService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="MinPasswordLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/MinPasswordLength" message="tns:IUserService_MinPasswordLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/MinPasswordLengthResponse" message="tns:IUserService_MinPasswordLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ValidateUser" message="tns:IUserService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ValidateUserResponse" message="tns:IUserService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangePassword" message="tns:IUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangePasswordResponse" message="tns:IUserService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Modify" message="tns:IUserService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ModifyResponse" message="tns:IUserService_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Delete" message="tns:IUserService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteResponse" message="tns:IUserService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Get" message="tns:IUserService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetResponse" message="tns:IUserService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Query" message="tns:IUserService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/QueryResponse" message="tns:IUserService_Query_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MinPasswordLength">
      <soap:operation soapAction="http://tempuri.org/IUserService/MinPasswordLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IUserService/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IUserService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IUserService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:1735/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>