SOA.WLIMS/SOA.WLIMS.Web/Service References/WCFService.Store/StoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOA.WLIMS.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOA.WLIMS.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1735/StoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Storehouse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:long" />
          <xs:element minOccurs="0" name="Master" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Storehouse" nillable="true" type="tns:Storehouse" />
  <xs:complexType name="ArrayOfStorehouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Storehouse" nillable="true" type="tns:Storehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorehouse" nillable="true" type="tns:ArrayOfStorehouse" />
</xs:schema>